<link rel="stylesheet" href="/styles/index.css">

<div>
    <div class='row'>
        <div class='col pageHeader'>
            <h1>Mikes App!</h1>
        </div>
        <div class='col-3 buttonWrapper'>
            <button type="button" class="btn btn-success" onclick="get('customers/new')">+ New</button>
        </div>
    </div>

    <ul class="list-group" id="customers">
        <% for(var key in customers) { %>
        <% if (customers.hasOwnProperty(key)) { %>
        <li class='list-group-item'>
            <div class='row'>
                <div class='col' id='listItemName'>
                    <%= customers[key].contactInfo.firstName %> <%= customers[key].contactInfo.lastName %>
                </div>
                <div class='col' id='listItemPhone'>
                    <a
                        href="tel:<%= customers[key].contactInfo.phoneNumber %>"><%= customers[key].contactInfo.phoneNumber %></a>
                </div>
                <div class='col' id='listItemEmail'>
                    <a href="mailto:<%= customers[key].contactInfo.email %>"><%= customers[key].contactInfo.email %></a>
                </div>
                <div class='col' id='listItemButton'>
                    <button type="button" class="btn btn-primary"
                        onclick="get('customers/<%= customers[key].id %>')">View</button>
                </div>
            </div>
        </li>
        <% } %>
        <% } %>
    </ul>
</div>