<link rel="stylesheet" href="/styles/show.css">

<div>
    <div class="row">
        <div class="col pageHeader">
            <h1><%= customer.contactInfo.firstName %> <%= customer.contactInfo.lastName %></h1>
            <div class="right">
                <button type="button" class="btn btn-primary someSpace"
                    onclick="get('customers/<%= customer.id %>/edit')"><i class="material-icons">edit</i></button>
                <form id="deleteForm" method="POST" action="/customers/<%= customer.id %>?_method=DELETE"
                    style="display: inline">
                    <button type="button" class="btn btn-danger someSpace"
                        onclick="confirmDelete(document.getElementById('deleteForm'))"><i
                            class="material-icons">delete_forever</i></button>
                </form>
                <!-- <button onclick="get('customers')">Home</button> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>
                <a href="mailto:<%= customer.contactInfo.email %>">Email: <%= customer.contactInfo.email %></a>
            </h5>
            <h5>
                <a href="tel:<%= customer.contactInfo.phoneNumber %>">Phone: <%= customer.contactInfo.phoneNumber %></a>
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Notes: <%= customer.notes %></p>
        </div>
    </div>

    <hr>
    <div style="padding-bottom: 40px;">
        <hr>
        <div class="form-row square-group">
            <div class="col-4">
                <div class="float-right square">
                    <textarea class="pitchTextArea" id="middleForwardPitch"
                        name="layout[middleForwardPitch]"></textarea>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <div class="float-left square">
                    <textarea class="pitchTextArea" id="ringForwardPitch" name="layout[ringForwardPitch]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group">
            <div class="col-4">
                <div class="float-right square">
                    <textarea class="pitchTextArea" id="middleSidePitchL" name="layout[middleSidePitchL]"></textarea>
                </div>
            </div>
            <div class="col-4">
                <div class="row float-center square-lg">
                    <div class="col mpzero">
                        <textarea class="pitchTextArea" id="middleSidePitchR"
                            name="layout[middleSidePitchR]"></textarea>
                    </div>
                    <div class="col mpzero">
                        <textarea class="pitchTextArea" id="ringSidePitchL" name="layout[ringSidePitchL]"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="float-left square">
                    <textarea class="pitchTextArea" id="ringSidePitchR" name="layout[ringSidePitchR]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group">
            <div class="col-4">
                <div class="float-right square">
                    <textarea class="pitchTextArea" id="middleReversePitch"
                        name="layout[middleReversePitch]"></textarea>
                </div>
            </div>
            <div class="col-4">
                <div class="row float-center square-lg">
                    <div class="col mpzero">
                        <textarea class="pitchTextArea" id="middleHoleSize" name="layout[middleHoleSize]"></textarea>
                    </div>
                    <div class="col mpzero">
                        <textarea class="pitchTextArea" id="ringHoleSize" name="layout[ringHoleSize]"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="float-left square">
                    <textarea class="pitchTextArea" id="ringReversePitch" name="layout[ringReversePitch]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group ">
            <div class="col d-flex justify-content-center">
                <div class="square">
                    <textarea class="pitchTextArea" id="middleActual" name="layout[middleActual]"></textarea>
                    <label for="middleActual">Actual</label>
                </div>
                <div class="square">
                    <textarea class="pitchTextArea" id="middleCut" name="layout[middleCut]"></textarea>
                    <label for="middleActual">Cut</label>
                </div>
                <div class="square"></div>
                <div class="square">
                    <textarea class="pitchTextArea" id="ringActual" name="layout[ringActual]"></textarea>
                    <label for="middleActual">Actual</label>
                </div>
                <div class="square">
                    <textarea class="pitchTextArea" id="ringCut" name="layout[ringCut]"></textarea>
                    <label for="middleActual">Cut</label>
                </div>
            </div>
        </div>

        <br>

        <div class="form-row square-group">
            <div class="col">
                <div class="float-center square">
                    <textarea class="pitchTextArea" id="thumbForwardPitch" name="layout[thumbForwardPitch]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group">
            <div class="col d-flex justify-content-center">
                <div class="square">
                    <textarea class="pitchTextArea" id="thumbSidePitchL" name="layout[thumbSidePitchL]"></textarea>
                </div>
                <div class="square thumbSpace">
                    <textarea class="pitchTextArea" id="ovalAngle" name="layout[ovalAngle]"></textarea>
                </div>
                <div class="square">
                    <textarea class="pitchTextArea" id="thumbSidePitchR" name="layout[thumbSidePitchR]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row square-group" style="padding-bottom: 20px;">
            <div class="col">
                <div class="float-center square">
                    <textarea class="pitchTextArea" id="thumbReversePitch" name="layout[thumbReversePitch]"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <label for="middleInsertSize">Middle Insert Size:</label>
                <input type="text" class="form-control" id="middleInsertSize" name="layout[middleInsertSize]">

                <label for="ringInsertSize">Ring Insert Size:</label>
                <input type="text" class="form-control" id="ringInsertSize" name="layout[ringInsertSize]">

                <label for="bridgeSpacing">Bridge Spacing:</label>
                <input type="text" class="form-control" id="bridgeSpacing" name="layout[bridgeSpacing]">
            </div>
            <div class="col-6">
                <textarea class="form-control" id="notes" name="customer[notes]" id="notes" cols="30" rows="10"
                    placeholder="Notes" style="resize: none"></textarea>
            </div>
        </div>

        <!-- <h2>Layout Info:</h2>
    <p>Ball Name: <%= customer.ballLayouts[0].ballName %></p>
    <p>Middle Forward Pitch: <%= customer.ballLayouts[0].middleForwardPitch %></p>
    <p>Middle Side Pitch L: <%= customer.ballLayouts[0].middleSidePitchL %></p>
    <p>Middle Side Pitch R: <%= customer.ballLayouts[0].middleSidePitchR %></p>
    <p>Middle Reverse Pitch: <%= customer.ballLayouts[0].middleReversePitch %></p>
    <p>Middle Hole Size: <%= customer.ballLayouts[0].middleHoleSize %></p>
    <p>Middle Insert Size: <%= customer.ballLayouts[0].middleInsertSize %></p>
    <p>Ring Forward Pitch: <%= customer.ballLayouts[0].ringForwardPitch %></p>
    <p>Ring Side Pitch L: <%= customer.ballLayouts[0].ringSidePitchL %></p>
    <p>Ring Side Pitch R: <%= customer.ballLayouts[0].ringSidePitchR %></p>
    <p>Ring Reverse Pitch: <%= customer.ballLayouts[0].ringReversePitch %></p>
    <p>Ring Hole Size: <%= customer.ballLayouts[0].ringHoleSize %></p>
    <p>Ring Insert Size: <%= customer.ballLayouts[0].ringInsertSize %></p>
    <p>Bridge Spacing: <%= customer.ballLayouts[0].bridgeSpacing %></p>
    <p>Middle Actual: <%= customer.ballLayouts[0].middleActual %></p>
    <p>Middle Cut: <%= customer.ballLayouts[0].middleCut %></p>
    <p>Ring Actual: <%= customer.ballLayouts[0].ringActual %></p>
    <p>Ring Cut: <%= customer.ballLayouts[0].ringCut %></p>
    <p>Thumb Forward Pitch: <%= customer.ballLayouts[0].thumbForwardPitch %></p>
    <p>Thumb Reverse Pitch: <%= customer.ballLayouts[0].thumbReversePitch %></p>
    <p>Thumb Side Pitch L: <%= customer.ballLayouts[0].thumbSidePitchL %></p>
    <p>Thumb Side Pitch R: <%= customer.ballLayouts[0].thumbSidePitchR %></p>
    <p>Oval Angle: <%= customer.ballLayouts[0].ovalAngle %></p> -->
    </div>
</div>